<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>Salary Prediction ML</title>
  <!-- <style>
       

    </style> -->
<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
		<header>
			<div class="first_container">
		   	 <nav class="first_nav">
						<ul>

						<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

							<li><strong><a href="/">Salary prediction</a></strong></li>
							<li id="new_prediction"><a href="{{ url_for('prediction')}}">New Prediction</a></li>
						</ul>
					</nav>
			</div>
		</header>

		<section class ="first_sec">

            
            <div id="img">
                <img src="/static/images/pexels-juan-pablo-serrano-arenas-1242348.jpg" >
            </div>
            
            
        </section>             
  
</body>
</html>